In [822]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import sklearn
%matplotlib inline

In [823]:
data = pd.read_csv('houses_to_rent_brazil.csv')
data.head()
#the data showes properties about houses for rent in brazil

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,São Paulo,70,2,1,1,7,acept,furnished,2065,30,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

In [824]:
data = data.drop('city', 1)
data = data.drop('animal', 1)
data = data.drop('furniture', 1)
data.head()
# i droped everything with none numeric vlues

,area,rooms,bathroom,parking spaces,floor,hoa,rent amount,property tax,fire insurance,total
0,70,2,1,1,7,2065,30,211,42,5618
1,320,4,4,0,20,1200,4960,1750,63,7973
2,80,1,1,1,6,1000,2800,0,41,3841
3,51,2,1,0,2,270,1112,22,17,1421
4,25,1,1,0,1,0,800,25,11,836

In [825]:
print (data.columns.tolist())

['area', 'rooms', 'bathroom', 'parking spaces', 'floor', 'hoa ', 'rent amount', 'property tax ', 'fire insurance', 'total']

In [826]:
rooms = data['rooms'].values
taxes = ['rent amount','property tax ']
X = data[taxes].values
#endded up using 3 colums because i had problems when i used the hole data set

In [827]:
X.shape

(8231, 2)

In [828]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [829]:
X_train, X_test, y_train, y_test = train_test_split(X, rooms, test_size=0.3, random_state=0)

In [830]:
X_train

array([[ 2800,   209],
       [ 3300,   293],
       [10000,  1999],
       ...,
       [ 4200,   142],
       [13000,   475],
       [ 7000,   299]], dtype=int64)

In [831]:
y_train

array([2, 4, 4, ..., 3, 3, 3], dtype=int64)

In [832]:
logreg = LogisticRegression(solver='lbfgs',max_iter=10000)
logreg.fit(X_train, y_train)
#num of iteration need to be that high it dosnt work with lower

LogisticRegression(max_iter=10000)

In [833]:
#trying to predict rent amount of 800 and taxes of 25 from the head list
logreg.predict(np.array([[800,25]]))[0]

1

In [834]:
logreg.predict(np.array([[2000,25]]))[0]

2

In [835]:
logreg.predict(np.array([[800,1000]]))[0]

3

In [836]:
logreg.predict(np.array([[800,10000]]))[0]

5

In [837]:
logreg.predict(np.array([[80000,25]]))[0]

4

In [838]:
logreg.predict(np.array([[2800,0]]))[0]

1

In [839]:
logreg.predict(np.array([[0,0]]))[0]

1

In [840]:
logreg.score(X_test, y_test)
print('Accuracy of logistic regression is: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression is: 0.44

In [841]:
#compare acurcy with linear model
from sklearn.linear_model import LinearRegression
lrreg = LinearRegression()
lrreg.fit(X_train, y_train)

LinearRegression()

In [842]:
prediction = lrreg.predict(X_test)

In [843]:
lrreg.predict(np.array([[800,25]]))[0]

1.8945902198297853

In [844]:
lrreg.predict(np.array([[2000,25]]))[0]

2.0210614306840187

In [845]:
lrreg.predict(np.array([[800,1000]]))[0]

2.455480679662327

In [846]:
lrreg.predict(np.array([[800,10000]]))[0]

7.632931078116557

In [847]:
lrreg.predict(np.array([[80000,25]]))[0]

10.241690136209195

In [848]:
lrreg.predict(np.array([[2800,0]]))[0]

2.090993764591135

In [849]:
lrreg.predict(np.array([[0,0]]))[0]

1.7958942725979234

In [850]:
lrreg.score(X_test, y_test)
print('Accuracy of linear regression is: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of linear regression is: 0.44